body {
  background-color: #9B59B6;
}

h1, h3, p {
  color: white;
}

a {
  color: #333;
}

a img {
  margin: 10px;
}

iframe {
  margin: 20px auto;
}

.container {
  width: 780px;
  text-align: center;
}

.main-copy {
  text-align: left;
  margin: 20px 0;
}